package com.bgsoftware.wildchests.nms.${NMS_VERSION}.inventory;

import com.bgsoftware.wildchests.WildChestsPlugin;
import com.bgsoftware.wildchests.api.objects.chests.Chest;
import com.bgsoftware.wildchests.api.objects.chests.StorageChest;
import com.bgsoftware.wildchests.api.objects.data.ChestData;
import com.bgsoftware.wildchests.nms.${NMS_VERSION}.NMSInventoryImpl;
import com.bgsoftware.wildchests.nms.${NMS_VERSION}.utils.TransformingNonNullList;
import com.bgsoftware.wildchests.objects.chests.WChest;
import com.bgsoftware.wildchests.objects.chests.WStorageChest;
import com.bgsoftware.wildchests.objects.containers.TileEntityContainer;
import com.bgsoftware.wildchests.utils.ChestUtils;
import net.minecraft.core.BlockPos;
import net.minecraft.core.Direction;
import net.minecraft.core.NonNullList;
import net.minecraft.network.chat.Component;
import net.minecraft.server.level.ServerLevel;
import net.minecraft.world.WorldlyContainer;
import net.minecraft.world.entity.item.ItemEntity;
import net.minecraft.world.entity.player.Inventory;
import net.minecraft.world.entity.player.Player;
import net.minecraft.world.inventory.AbstractContainerMenu;
import net.minecraft.world.item.ItemStack;
import net.minecraft.world.level.Level;
import net.minecraft.world.level.block.entity.BarrelBlockEntity;
import net.minecraft.world.level.block.entity.BlockEntityTicker;
import net.minecraft.world.level.block.state.BlockState;
import net.minecraft.world.phys.AABB;
import org.bukkit.Particle;
import ${CRAFTBUKKIT_PACKAGE}.entity.CraftHumanEntity;
import ${CRAFTBUKKIT_PACKAGE}.entity.CraftItem;
import ${CRAFTBUKKIT_PACKAGE}.inventory.CraftItemStack;
import ${CRAFTBUKKIT_PACKAGE}.util.CraftChatMessage;
import org.bukkit.entity.HumanEntity;
import org.bukkit.entity.Item;

import java.util.List;
import java.util.Map;

// Extending the native barrel entity is required because Minecraft validates an entity's type
// against the placed block state when it is constructed.
public class WildBarrelBlockEntity extends BarrelBlockEntity implements
        WorldlyContainer, TileEntityContainer, BlockEntityTicker<WildBarrelBlockEntity> {

    private static final WildChestsPlugin plugin = WildChestsPlugin.getPlugin();

    private final Chest chest;
    private final BlockPos blockPos;
    private short currentCooldown = ChestUtils.DEFAULT_COOLDOWN;
    private AABB suctionItems;
    private boolean autoCraftMode;
    private boolean autoSellMode;

    public WildBarrelBlockEntity(Chest chest, ServerLevel serverLevel, BlockPos blockPos) {
        super(blockPos, serverLevel.getBlockState(blockPos));
        this.chest = chest;
        this.blockPos = blockPos;
        this.level = serverLevel;
        ((WChest) chest).setTileEntityContainer(this);
        updateData();
    }

    @Override
    public boolean isOwner(Chest chest) {
        return this.chest == chest;
    }

    @Override
    public void closeContainer(HumanEntity humanEntity) {
        stopOpen(((CraftHumanEntity) humanEntity).getHandle());
    }

    @Override
    protected NonNullList<ItemStack> getItems() {
        return getContents();
    }

    @Override
    public void setItem(int slot, ItemStack itemStack) {
        ((WChest) chest).setItem(slot, new WildContainerItemImpl(itemStack));
    }

    @Override
    public ItemStack getItem(int slot) {
        return ((WildContainerItemImpl) ((WChest) chest).getWildItem(slot)).getHandle();
    }

    @Override
    public NonNullList<ItemStack> getContents() {
        return TransformingNonNullList.transform(((WChest) chest).getWildContents(), ItemStack.EMPTY,
                WildContainerItemImpl::transform);
    }

    @Override
    public AbstractContainerMenu createMenu(int id, Inventory playerInventory) {
        AbstractContainerMenu containerMenu = NMSInventoryImpl.createMenu(id, playerInventory,
                (com.bgsoftware.wildchests.objects.inventory.CraftWildInventory) chest.getPage(0));
        startOpen(playerInventory.player);
        return containerMenu;
    }

    @Override
    public Component getDisplayName() {
        return CraftChatMessage.fromStringOrNull(((com.bgsoftware.wildchests.objects.inventory.CraftWildInventory)
                chest.getPage(0)).getTitle());
    }

    @Override
    public void startOpen(${CONTAINER_OPEN_PARAM_TYPE} containerUser) {
        if (containerUser instanceof Player)
            this.transaction.add(((Player) containerUser).getBukkitEntity());

        super.startOpen(containerUser);
    }

    @Override
    public void stopOpen(${CONTAINER_OPEN_PARAM_TYPE} containerUser) {
        if (containerUser instanceof Player)
            this.transaction.remove(((Player) containerUser).getBukkitEntity());

        super.stopOpen(containerUser);
    }

    @Override
    public void tick(Level level, BlockPos blockPos, BlockState blockState, WildBarrelBlockEntity blockEntity) {
        ChestData chestData = chest.getData();

        double x = blockPos.getX() + level.getRandom().nextFloat();
        double y = blockPos.getY() + level.getRandom().nextFloat();
        double z = blockPos.getZ() + level.getRandom().nextFloat();
        for (String particle : chestData.getChestParticles()) {
            try {
                level.getWorld().spawnParticle(Particle.valueOf(particle), x, y, z, 0, 0D, 0D, 0D, 1.0, null, false);
            } catch (IllegalArgumentException ignored) {
            }
        }

        if (--currentCooldown >= 0)
            return;

        if (((WChest) chest).isRemoved() || ((WChest) chest).getContainerMaterial() !=
                level.getWorld().getBlockAt(blockPos.getX(), blockPos.getY(), blockPos.getZ()).getType()) {
            level.removeBlockEntity(blockPos);
            return;
        }

        currentCooldown = ChestUtils.DEFAULT_COOLDOWN;

        if (suctionItems != null)
            handleSuctionItems(chestData);

        if (autoCraftMode)
            ChestUtils.tryCraftChest(chest);

        if (autoSellMode)
            ChestUtils.trySellChest(chest);
    }

    @Override
    public int getContainerSize() {
        return chest.getPage(0).getSize() * chest.getPagesAmount();
    }

    @Override
    public int getViewingCount() {
        return this.openersCounter.getOpenerCount();
    }

    @Override
    public List<HumanEntity> getTransaction() {
        return transaction;
    }

    @Override
    public void updateData() {
        ChestData chestData = chest.getData();
        suctionItems = !chestData.isAutoSuction() ? null : new AABB(
                chestData.isAutoSuctionChunk() ? blockPos.getX() >> 4 << 4 : blockPos.getX() - chestData.getAutoSuctionRange(),
                blockPos.getY() - chestData.getAutoSuctionRange(),
                chestData.isAutoSuctionChunk() ? blockPos.getZ() >> 4 << 4 : blockPos.getZ() - chestData.getAutoSuctionRange(),
                chestData.isAutoSuctionChunk() ? (blockPos.getX() >> 4 << 4) + 16 : blockPos.getX() + chestData.getAutoSuctionRange() + 1,
                blockPos.getY() + chestData.getAutoSuctionRange(),
                chestData.isAutoSuctionChunk() ? (blockPos.getZ() >> 4 << 4) + 16 : blockPos.getZ() + chestData.getAutoSuctionRange() + 1
        );
        autoCraftMode = chestData.isAutoCrafter();
        autoSellMode = chestData.isSellMode();
    }

    @Override
    public int[] getSlotsForFace(Direction direction) {
        return chest.getSlotsForFace();
    }

    @Override
    public boolean canPlaceItemThroughFace(int slot, ItemStack itemStack, Direction direction) {
        return chest.canPlaceItemThroughFace(CraftItemStack.asCraftMirror(itemStack));
    }

    @Override
    public boolean canTakeItemThroughFace(int slot, ItemStack itemStack, Direction direction) {
        return chest.canTakeItemThroughFace(slot, CraftItemStack.asCraftMirror(itemStack));
    }

    @Override
    public ItemStack removeItem(int slot, int amount) {
        return slot != -2 || !(chest instanceof StorageChest) ? super.removeItem(slot, amount) :
                ((WildContainerItemImpl) ((WStorageChest) chest).splitItem(amount)).getHandle();
    }

    @Override
    public void setChanged() {
        super.setChanged();
        if (chest instanceof StorageChest)
            ((StorageChest) chest).update();
    }

    private void handleSuctionItems(ChestData chestData) {
        List<ItemEntity> nearbyItems = level.getEntitiesOfClass(ItemEntity.class, suctionItems,
                entityItem -> ChestUtils.SUCTION_PREDICATE.test((CraftItem) entityItem.getBukkitEntity(), chestData));

        for (ItemEntity itemEntity : nearbyItems) {
            org.bukkit.inventory.ItemStack itemStack = CraftItemStack.asCraftMirror(itemEntity.getItem()).clone();
            Item item = (Item) itemEntity.getBukkitEntity();
            int actualItemCount = plugin.getProviders().getItemAmount(item);
            List<org.bukkit.inventory.ItemStack> suctionItems = ChestUtils.fixItemStackAmount(itemStack, actualItemCount);
            Map<Integer, org.bukkit.inventory.ItemStack> leftOvers = chest.addItems(
                    suctionItems.toArray(new org.bukkit.inventory.ItemStack[0]));

            if (leftOvers.size() != suctionItems.size() ||
                    (leftOvers.size() == 1 && leftOvers.get(0).getAmount() != actualItemCount)) {
                if (leftOvers.isEmpty()) {
                    level.getWorld().spawnParticle(Particle.CLOUD, itemEntity.getX(), itemEntity.getY(), itemEntity.getZ(),
                            0, 0D, 0D, 0D, 1.0, null, false);
                    itemEntity.discard();
                } else {
                    int newStackAmount = 0;
                    for (org.bukkit.inventory.ItemStack leftOver : leftOvers.values())
                        newStackAmount += leftOver.getAmount();
                    plugin.getProviders().setItemAmount(item, newStackAmount);
                }
            }
        }
    }

}
